{{template "base" .}}

{{define "title"}}SignUp{{end}}

{{define "main"}}
<form action='/user/signup' method='POST' novalidate>
  <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

  {{with .Form}}
  <div>
    <label for="name">Name:</label>
    {{with .Errors.Get "name"}}
      <span class='error'>{{.}}</span>
    {{end}}
    <input type='text' name='name' id="name" value='{{.Get "name"}}'>
  </div>
  <div>
    <label for="email">Email:</label>
    {{with .Errors.Get "email"}}
      <span class='error'>{{.}}</span>
    {{end}}
    <input type='email' name='email' id="email" value='{{.Get "email"}}'>
  </div>
  <div>
    <label for="password">Password:</label>
    {{with .Errors.Get "password"}}
      <span class='error'>{{.}}</span>
    {{end}}
    <input type='password' id="password" name='password'>
  </div>
  <div>
    <input type='submit' value='SignUp'>
  </div>
  {{end}}
</form>
{{end}}
