:root {
  --main-font: "Ubuntu Mono", monospace;
  --h1-size: 2.25rem;
  --h2-size: 1.5rem;
  --normal-size: 1rem;

  --text-color: var(--text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--normal-size);
  font-family: var(--main-font);
}

html, body {
  height: 100%;
}

body {
  line-height: 1.6;
  background-color: #F1F3F6;
  color: var(--text-color);
  overflow-x: hidden;
}

header, nav, main, footer {
  padding: 2px calc((100% - 800px) / 2) 0;
}

main {
  margin-top: 54px;
  margin-bottom: 54px;
  min-height: calc(100vh - 345px);
  overflow: auto;
}

h1 a {
  font-size: var(--h1-size);
  font-weight: bold;
  background-image: url("/static/img/logo.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 36px;
  padding-left: 50px;
  position: relative;
}

h1 a:hover {
  text-decoration: none;
  color: var(--text-color);
}

h2 {
  font-size: var(--h2-size);
  margin-bottom: 36px;
  position: relative;
  top: -9px;
}

a {
  color: #62CB31;
  text-decoration: none;
}

a:hover {
  color: #4EB722;
  text-decoration: underline;
}

textarea, input:not([type="submit"]) {
  font-size: var(--normal-size);
  font-family: var(--main-font);
}

header {
  background-image: -webkit-linear-gradient(left, #34495E, #34495E 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -moz-linear-gradient(left, #34495E, #34495E 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -ms-linear-gradient(left, #34495E, #34495E 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: linear-gradient(to right, #34495E, #34495E 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-size: 100% 6px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #E4E5E7;
  overflow: auto;
  padding-top: 33px;
  padding-bottom: 27px;
  text-align: center;
}

header a {
  color: var(--text-color);
  text-decoration: none;
}

nav {
  border-bottom: 1px solid #E4E5E7;
  padding-top: 17px;
  padding-bottom: 15px;
  background: #F7F9FA;
  height: 60px;
  color: #6A6C6F;
}

nav a {
  margin-right: 1.5em;
  display: inline-block;
}

nav form {
  display: inline-block;
  margin-left: 1.5em;
}

nav div {
  width: 50%;
  float: left;
}

nav div:last-child {
    text-align: right;
}

nav div:last-child a {
    margin-left: 1.5em;
    margin-right: 0;
}

nav a.live {
  color: var(--text-color);
  cursor: default;
}

nav a.live:hover {
  text-decoration: none;
}

nav a.live:after {
  content: '';
  display: block;
  position: relative;
  left: calc(50% - 7px);
  top: 9px;
  width: 14px;
  height: 14px;
  background: #F7F9FA;
  border-left: 1px solid #E4E5E7;
  border-bottom: 1px solid #E4E5E7;
  transform: rotate(45deg);
}

a.button, input[type="submit"] {
  background-color: #62CB31;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 18px 27px;
  border: none;
  display: inline-block;
  margin-top: 18px;
  font-weight: 700;
}

a.button:hover, input[type="submit"]:hover {
  background-color: #4EB722;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

form div {
  margin-bottom: 18px;
}

form div:last-child {
  border-top: 1px dashed #E4E5E7;
}

form input[type="radio"] {
  position: relative;
  top: 2px;
  margin-left: 18px;
}

form input[type="text"],
form input[type="password"], form input[type="email"] {
  padding: 0.75em 18px;
  width: 100%;
}

textarea,
form input[type=text],
form input[type="email"],
form input[type="password"] {
    color: #6A6C6F;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

form label {
  display: inline-block;
  margin-bottom: 9px;
}

.error {
  color: #C0392B;
  font-weight: bold;
  display: block;
}

.error + textarea, .error + input {
  border-color: #C0392B !important;
  border-width: 2px !important;
}

textarea {
  padding: 18px;
  width: 100%;
  height: 266px;
}

button {
  background: none;
  padding: 0;
  border: none;
  color: #62CB31;
  text-decoration: none;
}

button:hover {
    color: #4EB722;
    text-decoration: underline;
    cursor: pointer;
}

.snippet {
    background-color: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

.snippet pre {
    padding: 18px;
    border-top: 1px solid #E4E5E7;
    border-bottom: 1px solid #E4E5E7;
}

.snippet .metadata {
    background-color: #F7F9FA;
    color: #6A6C6F;
    padding: 0.75em 18px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.snippet .metadata h1 {
    color: var(--text-color);
}

div.flash {
    color: #FFFFFF;
    font-weight: bold;
    background-color: var(--text-color);
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

div.error {
    color: #FFFFFF;
    background-color: #C0392B;
    padding: 18px;
    margin-bottom: 36px;
    font-weight: bold;
    text-align: center;
}

table {
    background: white;
    border: 1px solid #E4E5E7;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 9px 18px;
}

th:last-child, td:last-child {
    text-align: right;
    color: #6A6C6F;
}

tr {
    border-bottom: 1px solid #E4E5E7;
}

tr:nth-child(2n) {
    background-color: #F7F9FA;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 60px;
    color: #6A6C6F;
    text-align: center;
}
